<html lang="zh">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Xy718's Pastebin</title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap-3.4.1.css">
		<link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap-theme-3.4.1.css">
		<link type="text/css" rel="stylesheet" href="css/bootstrap/privatebin.css?1.3.3">
		<link type="text/css" rel="stylesheet" href="css/prettify/prettify.css?1.3.3">
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png?1.3.3" sizes="180x180">
		<link rel="icon" type="image/png" href="img/favicon-32x32.png?1.3.3" sizes="32x32">
		<link rel="icon" type="image/png" href="img/favicon-16x16.png?1.3.3" sizes="16x16">
		<link rel="shortcut icon" href="img/favicon.ico">
	</head>
	<body class="">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<a class="reloadlink navbar-brand" href="http://localhost:7181/">
					<img alt="Xy718's Pastebin" src="img/icon.svg" width="38">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li id="loadingindicator" class="navbar-text hidden"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span>Preparing new paste…</span></li>
					<li>
						<button id="retrybutton" type="button" class="reloadlink hidden btn btn-primary navbar-btn">
							<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 重试
						</button>
					</li>
					<li>
						<button id="newbutton" type="button" class="btn btn-default navbar-btn">
							<span class="glyphicon glyphicon-file" aria-hidden="true"></span> 新建
						</button>
						<button id="clonebutton" type="button" class="hidden btn btn-default navbar-btn" >
							<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> 复制
						</button>
						<button id="rawtextbutton" type="button" class="hidden btn btn-default navbar-btn">
							<span class="glyphicon glyphicon-text-background" aria-hidden="true"></span> 纯文本
						</button>
						<button id="emaillink" type="button" class="hidden btn btn-default navbar-btn">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email
						</button>
						<button id="qrcodelink" type="button" data-toggle="modal" data-target="#qrcodemodal" class="hidden btn btn-default navbar-btn">
							<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> 二维码
						</button>
					</li>

				</ul>
			</div>
		</nav>
		<main>
			<section class="container">
				<div id="remainingtime" class="hidden alert alert-info">
					<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				</div>
				<div id="status" class="alert alert-info hidden">
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					
				</div>
				<div id="errormessage" class="hidden alert alert-danger">
					<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
					
				</div>

				<div id="pastesuccess" class="hidden">
					<div class="alert alert-success">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<div id="deletelink"></div>
						<div id="pastelink"></div>
					</div>
				</div>
				<ul id="editorTabs" class="nav nav-tabs">
					<li role="presentation" class="active"><a role="tab" aria-selected="true" aria-controls="editorTabs" id="messageedit" href="#">编辑</a></li>
					<li role="presentation" class="pull-right">
						<button id="sendbutton" type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 送出
						</button>
					</li>
				</ul>
			</section>

			<section class="container">
				<article class="row">
					<p class="col-md-12"><textarea id="message" name="message" cols="80" rows="25" class="form-control"></textarea></p>
				</article>
			</section>
			<section class="container">
				<div id="noscript" role="alert" class="alert alert-info noscript-hide" style="display: none;">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					载入中…<br>
					<span class="small">如果这个消息一直存在，请自闭</span>
				</div>
			</section>
			<footer class="container">
				<div class="row">
					<h4 class="col-md-5 col-xs-8">Xy718<small>- do yourself;be yourself</small></h4>
					<p class="col-md-1 col-xs-4 text-center">❥(^_-)</p>
					<p id="aboutbox" class="col-md-6 col-xs-12">
					欢迎关注我的博客-<a href="https://xy718.xyz">https://xy718.xyz</a>
                    </p>
				</div>
			</footer>
		</main>
	

	</body>
</html>